#addNoteTitle {
    width: 98%;
    text-align: center;
}

#addNoteBody {
    width: 94%;
    height: 400px;
    resize: none;
    text-align: justify;
    margin: none;
    padding: none;
    border: none;
    outline: none;
}

#headerContainer {
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 5px;
}

#titleContainer {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#bodyContainer {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 5px;
}

#btnContainer {
    width: 100%;
    float: left;
}

#btnAddNewNote {
    height: 30px;
    width: 120px;
    margin: 10px;
}

#btnCancelNewNote {
    height: 30px;
    width: 120px;
    margin: 10px;
}
