.navbar {
    width: calc(100% - 10px);
    display: block;
    padding-left: 10px;
    margin: 0;
    background: var(--japanese-indigo);
    height: 60px;
    color: white;
    font-family: inherit;
}

.navbarHeader {
    height: 100%;
    float: left;
    color: inherit;
    line-height: 60px;
}

.btnNav {
    font-size: 14pt;
}

.noteDiv {
    width: 100%;
    float: left;
}


.noteContainer {
    background: none;
    width: calc(50% - 20px);
    margin: 10px;
    float: left;
}


.noteHeader {
    width: 100%;
    float: left;
    background-color: var(--japanese-indigo);
    margin: 0;
    text-align: center;
    color: white;
    font-size: 16pt;
    font-family: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid var(--japanese-indigo);
    border-bottom: none;
}

.btnNote {
    font-size: 16pt;
    width: 10%;
    min-width: 50px;
}

.noteBody {
    width: calc(100% - 20px);
    float: left;
    background-color: var(--desert-sand);
    margin: 0;
    text-align: justify;
    color: black;
    white-space: pre-wrap;
    font-size: 14pt;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid var(--japanese-indigo);
    border-top: none;
    padding: 10px;
}
