:root {
    --raisin-black: #272727;
    --smoky-black: #0F0F0F;
    --beaver: #967358;
    --pewter-blue: #90A9B7;
    --french-beige: #D4AA7D;
    --tuscan: #EFD09E;
    --pastel-grey: #D2D8B3;
    --base-green: #77AD78;
    --light-green: #95D7AE;
    --lighter-green: #A2C5AC;
    --base-red: #c23f48;
    --light-red: #FF5964;
    --lighter-red: #FF5964;
    --note-icon-normal: #704c26
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

body {
    background-color: var(--beaver);
    font-family: "roboto";
    color: var(--raisin-black);
}

.btnGreen {
    border: none;
    outline: none;
    display: block;
    float: right;
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--base-green);
    margin: 10px;
}

.btnGreen:hover {
    background-color: var(--light-green);
}

.btnGreen:active {
    margin-top: 12px;
    margin-bottom: 8px;
}

.btnRed {
    border: none;
    outline: none;
    display: block;
    float: right;
    border-radius: 2px;
    cursor: pointer;
    margin: 10px;
    background-color: var(--base-red);
}

.btnRed:hover {
    background-color: var(--light-red);
}

.btnRed:active {
    margin-top: 12px;
    margin-bottom: 8px;
}

.headerContainer {
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 5px;
    font-size: 20pt;
    color: var(--raisin-black);
}

.titleContainer {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bodyContainer {
    height: 70vh;
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 5px;
}

.btnContainer {
    width: 100%;
    float: left;
}

.inputTitle {
    width: 98%;
    text-align: center;
    font-family: inherit;
    font-size: 14pt;
    color: var(--raisin-black);
    background-color: var(--tuscan);
    border: 1px solid var(--smoky-black);
}

.inputTitle:focus {
    outline: 2px solid var(--smoky-black);
}

.inputBody {
    width: 94%;
    height: 100%;
    resize: none;
    text-align: justify;
    margin: none;
    padding: none;
    border: 1px solid var(--smoky-black);
    font-family: inherit;
    font-size: 12pt;
    background-color: var(--tuscan);
    color: var(--raisin-black);
}

.inputBody:focus {
    outline: 2px solid var(--smoky-black);
}
