:root {
    --japanese-indigo: #2A3D45;
    --desert-sand: #DDC9B4;
    --khaki: #BCAC9B;
    --old-rose: #C17C74;
    --old-rose-dark: #9b645d;
    --old-rose-light: #ce9790;
    --deep-taupe: #7A6C5D;
    --base-green: #77AD78;
    --light-green: #92bd93;
    --dark-green: #608b60;
    --base-red: #cf5858;
    --light-red: #d87979;
    --dark-red: #a64747;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

body {
    background-color: var(--khaki);
    font-family: "roboto";
    color: white;
    margin: 0;
    transition: all 0.3s;
}

.btn {
    height: 100%;
    outline: none;
    display: block;
    float: right;
    cursor: pointer;
    color: white;
    background-color: var(--old-rose);
    border: none;
    font-family: "roboto";
    transition: all 0.3s;
    border-bottom: 5px solid var(--old-rose-dark);
}

.btn:hover {
    background-color: var(--old-rose-light);
    border-bottom: 5px solid var(--old-rose);
}

.btn:active {
    padding-top: 5px;
    padding-bottom: -5px;
    border-bottom: 1px solid var(--old-rose);
}

.btnGreen {
    width: 100px;
    font-size: 12pt;
    background-color: var(--base-green);
    border-bottom: 5px solid var(--dark-green);
}

.btnGreen:hover {
    background-color: var(--light-green);
    border-bottom: 5px solid var(--base-green);
}

.btnGreen:active {
    border-bottom: 1px solid var(--base-green);
}

.btnRed {
    width: 100px;
    font-size: 12pt;
    background-color: var(--base-red);
    border-bottom: 5px solid var(--dark-red);
}

.btnRed:hover {
    background-color: var(--light-red);
    border-bottom: 5px solid var(--base-red);
}

.btnRed:active {
    border-bottom: 1px solid var(--base-red);
}

.headerContainer {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16pt;
    color: white;
    background-color: var(--japanese-indigo);
    height: 40px;
    line-height: 40px;
}

.titleContainer {
    width: 100%;
    height: 50px;
    padding-top: 20px;
    float: left;
    text-align: center;
}

.formatBtnContainer {
    width: 100%;
    float: left;
    height: 30px;
    text-align: center;
}

.formatBtnContainerInner {
    height: 100%;
    width: 90%;
    margin-left: 5%;
}

.bodyContainer {
    height: calc(100vh - 180px);
    min-height: 350px;
    width: 100%;
    float: left;
    text-align: center;
}

.btnContainer {
    width: 100%;
    height: 40px;
    float: left;
    background-color: var(--japanese-indigo);
}

.inputTitle {
    width: 94%;
    text-align: center;
    font-family: inherit;
    font-size: 14pt;
    color: black;
    background-color: var(--desert-sand);
    border: 1px solid var(--japanese-indigo);
}

.inputTitle:focus {
    outline: 2px solid var(--japanese-indigo);
}

.inputBody {
    width: 90%;
    height: 94%;
    resize: none;
    text-align: justify;
    margin: none;
    padding: none;
    border: 1px solid var(--japanese-indigo);
    font-family: inherit;
    font-size: 12pt;
    background-color: var(--desert-sand);
    color: black;
}

.inputBody:focus {
    outline: 2px solid var(--japanese-indigo);
}
