:root {
    --raisin-black: #272727;
    --smoky-black: #0F0F0F;
    --beaver: #967358;
    --pewter-blue: #90A9B7;
    --french-beige: #D4AA7D;
    --tuscan: #EFD09E;
    --pastel-grey: #D2D8B3;
    --base-green: #77AD78;
    --light-green: #95D7AE;
    --lighter-green: #A2C5AC;
    --base-red: #BA324F;
    --light-red: #BD4F6C;
    --lighter-red: #FF5964;
    --note-icon-normal: #704c26
}

body {
    background-color: var(--beaver);
}

.btnGreen {
    border: none;
    outline: none;
    display: block;
    float: right;
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--base-green);
}

.btnGreen:hover {
    background-color: var(--light-green);
}

.btnGreen:active {
    background-color: var(--lighter-green);
}

.btnRed {
    border: none;
    outline: none;
    display: block;
    float: right;
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--base-red);
}

.btnRed:hover {
    background-color: var(--light-red);
}

.btnRed:active {
    background-color: var(--lighter-red);
}
