:root {
    --settings-label-width: 140px;
    --settings-label-height: 40px;
}

#pathSelect {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#btnPathSelect {
    display: block;
    float: left;
    width: var(--settings-label-width);
    height: var(--settings-label-height);
    cursor: pointer;
    background-color: var(--old-rose);
    font-size: 14pt;
    border-radius: 2px;
    color: white;
    text-align: center;
    line-height: var(--settings-label-height);
    border: 1px solid var(--old-rose-dark);
    border-bottom: 5px solid var(--old-rose-dark);
    transition: all 0.3s;
}

#btnPathSelect:hover {
    background-color: var(--old-rose-light);
    border: 1px solid var(--old-rose);
    border-bottom: 5px solid var(--old-rose);
}

#btnPathSelect:active {
    margin-top: 5px;
    margin-bottom: -1px;
    border-bottom: 1px solid var(--old-rose);
}

.settingsContainer {
    width: calc(100% - 40px);
    float: left;
    height: calc(100vh - 80px);
}

.rowSettings {
    padding: 20px;
    width: 100%;
    float: left;

}

#dataPath {
    float: right;
    width: 68%;
    height: var(--settings-label-height);
    font-size: 14pt;
    background-color: var(--desert-sand);
    border: solid 1px var(--japanese-indigo);
    color: black;
    padding-left: 5px;
}

#maxNoteLabel {
    display: block;
    float: left;
    width: var(--settings-label-width);
    font-size: 14pt;
    color: white;
    background-color: var(--old-rose);
    height: var(--settings-label-height);
    line-height: var(--settings-label-height);
    text-align: center;
    border-radius: 2px;
    border: 1px solid var(--old-rose-dark);
}

#maxNote {
    float: right;
    width: 68%;
    font-size: 14pt;
    background-color: var(--desert-sand);
    color: black;
    border: solid 1px var(--japanese-indigo);
    padding-left: 5px;
    height: var(--settings-label-height);
}

#maxNote:focus {
    outline: 2px solid var(--japanese-indigo);
}
