#pathSelect {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#btnPathSelect {
    display: block;
    float: left;
    width: 30%;
    cursor: pointer;
    background-color: var(--french-beige);
    font-size: 14pt;
    border-radius: 2px;
    color: var(--raisin-black);
}

#btnPathSelect:hover {
    background-color: var(--tuscan);
}

#btnPathSelect:active {
    margin-top: 1px;
}

#dataPath {
    float: right;
    width: 68%;
    font-size: 14pt;
    background-color: var(--beaver);
    border: solid 1px var(--smoky-black);
    color: var(--raisin-black);
    padding-left: 5px;
}

#maxNoteLabel {
    display: block;
    float: left;
    width: 30%;
    font-size: 14pt;
}

#maxNote {
    float: right;
    width: 68%;
    font-size: 14pt;
    background-color: var(--tuscan);
    color: var(--raisin-black);
    border: solid 1px var(--smoky-black);
    padding-left: 5px;
}

#maxNote:focus {
    outline: 2px solid var(--smoky-black);
}

#btnChangeSetting {
    height: 30px;
    width: 80px;
}

#btnCancelChangeSetting {
    height: 30px;
    width: 80px;
}
