<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Settings</title>
        <link rel="stylesheet" href="../../css/main.css" type="text/css">
        <link rel="stylesheet" href="../../css/settings.css" type="text/css">
        <script src="../script/vue.js"></script>
    </head>
    <body>
        <div id="settingsApp">
            <div class="headerContainer">
                Settings
            </div>

            <div class="settingsContainer">
                <div class="rowSettings">
                    <label for="pathSelect" id="btnPathSelect">Choose Folder</label> <input id="dataPath" v-model="dataPath" disabled="disabled">
                    <input type="file" id="pathSelect" v-on:change="pathSelect($event)" webkitdirectory mozdirectory msdirectory odirectory directory multiple />
                </div>
                <div class="rowSettings">
                    <label id="maxNoteLabel">Max Note:</label> <input id="maxNote" v-model="maxNote">
                </div>
            </div>

            <div class="btnContainer">
                <button class="btn btnRed" v-on:click="closeWindow">Cancel</button>
                <button class="btn btnGreen" v-on:click="saveSettings">Confirm</button>
            </div>
        </div>
    </body>
    <script>
        require("../script/renderer-settings.js")
    </script>
</html>
